:root {
  --primary-color: #f4e7d7;
  --secondary-color: black;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: #f4e7d7;
  color: black;
}

body {
  background-color: var(--primary-color);
  font-family: "Playfair Display", serif;
}
.container {
  padding-top: 40px;
  max-width: 700px;
  margin: 0 auto;
}

input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}

.hint {
  margin-top: 5px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.phonetic a {
  border: 1px solid #ddd;
  padding: 4px 10px;
  border-radius: 50%;
  margin-right: 6px;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

.example {
  opacity: 0.7;
  font-style: italic;
}

.synonyms li {
  font-size: 13px;
  display: inline-block;
  padding-right: 10px;
  line-height: 1;
}

p {
  font-size: 18px;
}

.footer {
  text-align: center;
}

.synonyms {
  padding: 0;
}

.dictionary h1 {
  font-size: 18px;
}

.header {
  font-size: 50px;
  font-weight: bolder;
}

.dictionary section {
  background-color: #fff;
  color: black;
  padding: 23px;
  margin: 20px 0;
  border-radius: 16px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
}

.loader {
  margin-top: 200px;
  margin-left: 200px;
}

@media (max-width: 300px) {
  .header {
    font-size: 30px;
  }
}
